@use "../../../core/mixins" as *;
@use "../../../core/variables" as *;
.hw {
  $self: &;
  &.d1 {
    #{$self} {
      &__title {
        font-size: $font22;
        @include fontBase(var(--fontBold));
        color: var(--themeClr1);
        line-height: 1.3;

        @include mq(tablet) {
          font-size: $font24;
        }

        @include mq(desktop-min) {
          font-size: $font26;
        }
      }
    }

    &.regular {
      #{$self} {
        &__title {
          @include fontBase(var(--fontLight));
        }
      }
    }
  }
}
